<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NLC_HRMS_PORTAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
   <add name="Constr" connectionString="Data Source='dblive';Initial Catalog='NLC LIVE DB';Integrated Security='SSPI'; Timeout='60'" />
  </connectionStrings>
  <appSettings>
       <add key="navServiceAccount" value="nav.admin" />
    <!--administrator-->
    <add key="navServiceAccountPassword" value="$y0K1M@u@91" />
    <!--NlC@12345-->
    <add key="notificationsEmailAccount" value="notifications@landcommission.go.ke" />
    <!--notifications@landcommission.go.ke-->
    <add key="notificationsEmailAccountPassword" value="P@ssword" />
    <!--P@ssword1-->
    <add key="SupportEmail" value="recruitment@landcommission.go.ke" />
    <add key="MailHost" value="mail.landcommission.go.ke" />
    <!--mail.landcommission.go.ke-->
    <add key="Domain" value="landcommission" />
    <!--landcommission-->
    <add key="portalUrl" value="https://hrms.landcommission.go.ke:8081/" />
    <!--https://hrms.landcommission.go.ke:8081/-->
    <add key="navBaseUrl" value="http://serverlive:1113/NLC2/WS/NLC/" />
    <!--http://serverlive:1113/NLC2/WS/NLC/-->
    <add key="navInstanceName" value="NLC2" />
    <!--NLC2-->
    <add key="Dbcompany_name" value="NLC" />
    <!--NLC-->
    <add key="portalAdmin" value="NLC20150191;NLC20150276;NLC20150178;NLC20150207;NLC20170496;NLC20150180;NLC20150322" />
    <add key="SiteUrl" value="http://server4:4040/sites/supplychain/" />
    <add key="SpsiteUrl" value="http://server4:4040/" />
	 <add key="smtp_port" value="25" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="/Default" timeout="30" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <NLC_HRMS_PORTAL.Properties.Settings>
      <setting name="NLC_HRMS_PORTAL_Countries_Countries_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Countries</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_DimensionValues_DimensionValues_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/DimensionValues</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRLookUpValuesList_HRLookUpValues_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRLookUpValues</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HREmployeeList_HREmployeeList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HREmployeeList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_Live_NLC_Portal_Live_NLC_Portal" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Codeunit/Live_NLC_Portal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ResponsibilityCenters_ResponsibilityCenterBR2_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ResponsibilityCenterList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRLeaveTypes_HRLeaveTypes_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRLeaveTypes</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRLeaveApplication_HRLeaveApplication_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRLeaveApplication</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRLeaveRelieversCard_HRLeaveRelieversCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRLeaveRelieversCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ApprovalEntriesList_ApprovalEntriesList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApprovalEntriesList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_OnlineUsers_OnlineUsers_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/OnlineUsers</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_SalaryAdvanceRequest_SalaryAdvanceRequest_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/SalaryAdvanceRequest</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_PRPayrollPeriods_PRPayrollPeriods_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/PRPayrollPeriods</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_alaryAdvanceLines_SalaryAdvanceLines_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/SalaryAdvanceLines</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HREmployeeInformationChange_HREmployeeInformationChange_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HREmployeeInformationChange</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRTrainingApplicationHeader_HRTrainingApplicationHeader_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRTrainingApplicationHeader</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRTrainingApplicationList_HRTrainingApplicationList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRTrainingApplicationList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRTrainingAppLinesCard_HRTrainingAppLinesCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRTrainingAppLinesCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_EmployeeSeparationCard_EmployeeSeparationCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/EmployeeSeparationCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRStaffTransportRequisition_HRStaffTransportRequisition_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRStaffTransportRequisition</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRTransportRequisitionList_HRTransportRequisitionList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRTransportRequisitionList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRTransportPassengersCard_HRTransportPassengersCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRTransportPassengersCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_PassengerRequestList_PassengerRequestList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/PassengerRequestList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ClearanceList_ClearanceList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ClearanceList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ExitQuestinnaireCard_ExitQuestinnaireCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ExitQuestinnaireCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AppraisalList_AppraisalList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AppraisalList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_VendorsList_Vendors_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Vendors</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_Locations_Locations_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Locations</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_Items_Items_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Items</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_UnitsOfMeasure_UnitsOfMeasure_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/UnitsOfMeasure</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ItemsPRHeader_ItemsPRRequisitionsPortal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ItemsPRRequisitionsPortal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetPRLines_AssetPRLines_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetPRLines</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ItemSRHeader_ItemSRPortal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ItemSRPortal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ItemSRLines_ItemSRLines_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ItemSRLines</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_FixedAssetList_FixedAssetList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/FixedAssetList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_ItemLedgerEntries_ItemLedgerEntries_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ItemLedgerEntries</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_PurchaseRequisitionList_PurchaseRequisitionList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/PurchaseRequisitionList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_StoreRequisitionList_StoreRequisitionList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/StoreRequisitionList</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AttachmentsList_Attachments_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Attachments</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_PostedStoreRequisitionCard_PostedStoreRequisitionCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/PostedStoreRequisitionCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_PostedStoreRequisitionLists_PostedStoreRequisitionLists_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/PostedStoreRequisitionLists</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_StoresRecommnderApproval_StoresRecommnderApproval_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/StoresRecommnderApproval</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetMovementRequestCard_AssetMovementRequestCard_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetMovementRequestCard</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetIssueRequestLine_AssetIssueRequestLine_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetIssueRequestLine</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetReturnRequestLines_AssetReturnRequestLines_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetReturnRequestLines</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRAssetMovementRequestLine_HRAssetMovementRequestLine_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRAssetMovementRequestLine</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetExchangeMovementDetail_AssetExchangeMovementDetail_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetExchangeMovementDetail</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_DisposalPeriods_DisposalPeriods_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/DisposalPeriods</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_DisposalPlansCardPortal_DisposalPlansCardPortal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/DisposalPlansCardPortal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_DisposalPlanLinesPortal_DisposalPlanLinesPortal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/DisposalPlanLinesPortal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetIncidenceCardPortal_AssetIncidenceCardPortal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetIncidenceCardPortal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_AssetReportingLinePortal_AssetReportingLinePortal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AssetReportingLinePortal</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_HRObjectivesTargets_HRObjectivesTargets_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRObjectivesTargets</value>
      </setting>
      <setting name="NLC_HRMS_PORTAL_UserSetup_UserSetup_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/UserSetup</value>
      </setting>
	   <setting name="NLC_HRMS_PORTAL_HROverallComments_HROverallComments_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HROverallComments</value>
      </setting>
    </NLC_HRMS_PORTAL.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: 94A9C59F-6343-426C-9E9B-E27D293F395B-->